<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hk.mapper.CopydepartmentsMapper" >
  <resultMap id="BaseResultMap" type="com.hk.bean.Copydepartments" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FDeptID" property="fdeptid" jdbcType="VARCHAR" />
    <result column="FDeptCode" property="fdeptcode" jdbcType="VARCHAR" />
    <result column="FDeptName" property="fdeptname" jdbcType="VARCHAR" />
    <result column="FSendFileID" property="fsendfileid" jdbcType="INTEGER" />
    <result column="isDel" property="isdel" jdbcType="CHAR" />
    <result column="FDepType" property="fdeptype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, FDeptID, FDeptCode, FDeptName, FSendFileID, isDel, FDepType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hk.bean.CopydepartmentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from copydepartments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from copydepartments
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from copydepartments
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hk.bean.CopydepartmentsExample" >
    delete from copydepartments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hk.bean.Copydepartments" >
    insert into copydepartments (ID, FDeptID, FDeptCode, 
      FDeptName, FSendFileID, isDel, 
      FDepType)
    values (#{id,jdbcType=INTEGER}, #{fdeptid,jdbcType=VARCHAR}, #{fdeptcode,jdbcType=VARCHAR}, 
      #{fdeptname,jdbcType=VARCHAR}, #{fsendfileid,jdbcType=INTEGER}, #{isdel,jdbcType=CHAR}, 
      #{fdeptype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hk.bean.Copydepartments" >
    insert into copydepartments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fdeptid != null" >
        FDeptID,
      </if>
      <if test="fdeptcode != null" >
        FDeptCode,
      </if>
      <if test="fdeptname != null" >
        FDeptName,
      </if>
      <if test="fsendfileid != null" >
        FSendFileID,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
      <if test="fdeptype != null" >
        FDepType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fdeptid != null" >
        #{fdeptid,jdbcType=VARCHAR},
      </if>
      <if test="fdeptcode != null" >
        #{fdeptcode,jdbcType=VARCHAR},
      </if>
      <if test="fdeptname != null" >
        #{fdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsendfileid != null" >
        #{fsendfileid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="fdeptype != null" >
        #{fdeptype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hk.bean.CopydepartmentsExample" resultType="java.lang.Integer" >
    select count(*) from copydepartments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update copydepartments
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fdeptid != null" >
        FDeptID = #{record.fdeptid,jdbcType=VARCHAR},
      </if>
      <if test="record.fdeptcode != null" >
        FDeptCode = #{record.fdeptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fdeptname != null" >
        FDeptName = #{record.fdeptname,jdbcType=VARCHAR},
      </if>
      <if test="record.fsendfileid != null" >
        FSendFileID = #{record.fsendfileid,jdbcType=INTEGER},
      </if>
      <if test="record.isdel != null" >
        isDel = #{record.isdel,jdbcType=CHAR},
      </if>
      <if test="record.fdeptype != null" >
        FDepType = #{record.fdeptype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update copydepartments
    set ID = #{record.id,jdbcType=INTEGER},
      FDeptID = #{record.fdeptid,jdbcType=VARCHAR},
      FDeptCode = #{record.fdeptcode,jdbcType=VARCHAR},
      FDeptName = #{record.fdeptname,jdbcType=VARCHAR},
      FSendFileID = #{record.fsendfileid,jdbcType=INTEGER},
      isDel = #{record.isdel,jdbcType=CHAR},
      FDepType = #{record.fdeptype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hk.bean.Copydepartments" >
    update copydepartments
    <set >
      <if test="fdeptid != null" >
        FDeptID = #{fdeptid,jdbcType=VARCHAR},
      </if>
      <if test="fdeptcode != null" >
        FDeptCode = #{fdeptcode,jdbcType=VARCHAR},
      </if>
      <if test="fdeptname != null" >
        FDeptName = #{fdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsendfileid != null" >
        FSendFileID = #{fsendfileid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="fdeptype != null" >
        FDepType = #{fdeptype,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hk.bean.Copydepartments" >
    update copydepartments
    set FDeptID = #{fdeptid,jdbcType=VARCHAR},
      FDeptCode = #{fdeptcode,jdbcType=VARCHAR},
      FDeptName = #{fdeptname,jdbcType=VARCHAR},
      FSendFileID = #{fsendfileid,jdbcType=INTEGER},
      isDel = #{isdel,jdbcType=CHAR},
      FDepType = #{fdeptype,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>