<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<!-- 声明service bean -->
	<!-- <bean id="bookService" class="com.kkb.service.impl.BookServiceImpl"/> -->
	<bean id="employeeService" class="com.hk.service.impl.EmployeeServiceImpl"/>
	<bean id="departmentService" class="com.hk.service.impl.DepartmentServiceImpl"/>
	<bean id="positionService" class="com.hk.service.impl.PositionServiceImpl"/>
	<bean id="securityService" class="com.hk.service.impl.SecurityServiceImpl"></bean>
	<bean id="sendDocsService" class="com.hk.service.impl.SendDocsServiceImpl"></bean>
	<bean id="secretperiodService" class="com.hk.service.impl.SecretperiodServiceImpl"></bean>
	<bean id="secretlevelService" class="com.hk.service.impl.SecretlevelServiceImpl"></bean>
	<bean id="mainsupplydepService" class="com.hk.service.impl.MainsupplydepServiceImpl"></bean>
</beans>