<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<!-- 适配器去调用handler -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<!-- 注入校验器 -->
		<!-- 注入binder对象 -->
		<property name="webBindingInitializer" ref="myBinder"/>
		<!-- 这里要配置json转化器 -->
		<property name="messageConverters">
			<list>
			<!-- json转换器的bean -->
				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
			</list>
		</property>
	</bean>
	<!-- 定义统一异常处理器 -->
	<!-- <bean class="com.kkb.exception.ExceptionResolver"></bean> -->
	<!-- 需要导入文件处理类 -->
	<!-- 上传文件解析器 -->
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>52428800</value>
		</property>
	</bean>
	<!-- 扫描springmvc注解包 -->
	<context:component-scan base-package="com.hk.controller"/>
	<!-- 视图的解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 自定义Binder对象 -->
	<bean id="myBinder" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
		<property name="validator" ref="validator"/>
		 <property name="conversionService" ref="conversionService"/> 
	</bean>
	<!-- 配置校验器，类似于校验器的实现接口 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 校验器的实现类 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<!-- 让验证器去读取资源文件 -->
		<property name="validationMessageSource" ref="messageproperties"/>
	</bean>
	<!-- 读取静态资源文件 -->
	<bean id="messageproperties" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 资源文件的位置 -->
		<property name="basenames">
			<list>
				<value>classpath:message</value>
			</list>
		</property>
	</bean>
	<!-- 参数转换器 -->
    <bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.hk.controller.convertor.MyDateConvertor"/>
			</list>
		</property>
	</bean>
	
	<!-- 配置拦截器 
	<mvc:interceptors>
		<mvc:interceptor>
			/*表示拦截所有的一级URL，表示拦截所一级目录下所以目录 -->
			<!--<mvc:mapping path="/**"/>
			<bean class="com.kkb.controller.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>-->
			<!-- /*表示拦截所有的一级URL，/**表示拦截所一级目录下所以目录
			<mvc:mapping path="/**"/>
			<bean class="com.kkb.controller.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->

</beans>